* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(62,92,118);
    background: radial-gradient(circle, rgba(62,92,118,1) 32%, rgba(29,45,68,1) 100%);
    font-family: "Kanit", Verdana, Arial, sans-serif;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }

/* Track */
  ::-webkit-scrollbar-track {
    background: none; 
  }
 
/* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(62,92,118,1); 
  }

/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(37, 56, 83); 
  }
  
  .container {
    width: 40%;
    padding: 40px 20px;
    background: #0d1321;
  }

h1 {
    color: #748cab;
    font-size: 30px;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }

#text {
    display: block;
    width: 100%;
    background-color: transparent;
    color: #f0ebd8;
    border: 2px solid #3ba9f4;
    border-radius: 2px;
    resize: none;
    margin-bottom: 35px;
    height: 200px;
    padding: 10px;
    font-size: 20px;
    font-family: Verdana;
  }
  
  #filename {
    width: calc(100% - 200px);
    border: 2px solid #3ba9f4;
    border-radius: 2px;
    background-color: transparent;
    color: #f0ebd8;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin-right: 20px;
    font-family: Verdana;
  }
  
  #download {
    background-color: #1d2d44;
    color: #fff;
    font-size: 20px;
    height: 50px;
    border: none;
    border-radius: 2px;
    width: 174px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #download:hover
  {
    background-color:#112035;
  }

  #key
  {
    text-align: center;
    color:red;
  }